@model IEnumerable<CashFlow.Application.DTOs.FinancialEntryDTO>

<div class="container mt-3">
    <h2>Entradas Financeiras</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Categoria</th>
                <th>Data de Entrada</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.Name</td>
                    <td>@entry.Value</td>
                    <td>@entry.Category</td>
                    <td>@entry.EntryDate</td>
                    <td>
                        <a asp-action="Details" asp-controller="FinancialEntry" asp-route-id="@entry.Id">Detalhes</a> |
                        <a asp-action="Edit" asp-route-id="@entry.Id">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@entry.Id">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
