@model CashFlow.Application.DTOs.FinancialExpenseDTO

<div class="container mt-3">
    <h2>Confirmar Exclusão de Despesa</h2>

    <p>Tem certeza de que deseja excluir a despesa abaixo?</p>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseDate)
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

<style>
    h2 {
        color: #dc3545;
    }

    p {
        margin-bottom: 20px;
    }

    dt {
        font-weight: bold;
    }

    .form-group {
        margin-top: 20px;
    }
</style>
