@model CashFlow.Application.DTOs.SheetDTO

<h2>Sheet Details</h2>

<div>
    <h4>Sheet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>

<h4>Entradas</h4>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Categoria</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model.Entries)
        {
            <tr>
                <td>@entry.Id</td>
                <td>@entry.Name</td>
                <td>@entry.Category</td>
                <td>@entry.EntryDate</td>
            </tr>
        }
    </tbody>
</table>

<h4>Saidas</h4>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Valor</th>
            <th>Categoria</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var expense in Model.Expenses)
        {
            <tr>
                <td>@expense.Name</td>
                <td>@expense.Value</td>
                <td>@expense.Category</td>
                <td>@expense.ExpenseDate</td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Index">Back to List</a>
</p>
